@font-face {
  font-family: 'shella_cleanregular';
  src: url('src/fonts/shella_clean-webfont.woff2') format('woff2'),
       url('src/fonts/shella_clean-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
table {
    font-family: 'shella_cleanregular';
    border-collapse: collapse;
    width: 25%;
    color:whitesmoke;
    font-size: 1.3em;
  }
  
  td, th {
    border: 1px solid #f7d9d9;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f7d9d9;
  }