<div class="col-md-4 offset-md-8"  div="box"> 
    <h6 class="d-flex justify-content-between align-items-center mb-2">
      <span div="panier">Panier</span>
    </h6>
    
    <ul class="list-group mb-2">
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
        <span class="my-1">Produit</span> <br>
          <small class="text-muted">description</small>
        </div>
        <span class="text-muted">prix</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <strong>Prix total</strong>
      </li>
    </ul>
         
          <button type="submit" class="btn btn-sm btn-dark">Valider le panier</button>
</div>

 
  
      